<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!--login Setting-->
    <add key="LoginName" value="user"/>
    <add key="LoginPwd" value="123"/>


    <!--Card setting-->
    <add key="CardServer" value="127.0.0.1"/>
    <add key="Point" value="4006"/>
    <add key="ShopId" value="a001"/>
    <add key="Posid" value="1001"/>
    <add key="Cashierid" value="0003"/>
    
    <!--Print Setting-->
    <add key="FPHM" value="7"/>
    <!--打印样式，1单据，2小票-->
    <add key="pttype" value="2"/>
    <add key="Order" value="1"/>
    <add key="MKTNAME" value="孝武超市"/>
    <add key="MKT" value="中心店"/>
    <add key="OPER" value="0901"/>
    <add key="OPERNAME" value="张三"/>
    


  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
